/*start our doctors style */
.cards
{
	.card
	{
		height: 300px;
	    overflow: hidden;
	    img
	    {
	    	height: 100%;
	   		@include transition((height 0.3s ease));
	    }
	    &:hover
	    {
	    	.card-body
	    	{
	    		bottom:0;
	    	}

	    }
	}
	.card-body
	{
		position: absolute;
	    background-color: $main-color;
	    bottom: -84%;
	    #{$left}: 0;
	    #{$right}: 0;
	    height: 100%;
	    color:$white-color;
	    padding: 1rem;
	    @include transition((bottom 0.3s ease));
	}
	.card-text
    {
    	overflow: hidden;
		height: 35%;
    }
    .list-inline-item
    {
	    font-size: 1.5rem;
	    padding: 0.5rem;
	    margin:0;
	    background-color: $text-color;
	    color:$white-color;
	    line-height: 0;
	    margin: 0 2% 0.5rem;
	    width:50px;
	    &:hover
	    {
		background-color: $white-color;
	    color:$main-color;
	    }
    }
}
/*end our doctors style */