/***************
= start <section> style =
*****************/
section
{
	background-color:$white-color;
    overflow: hidden;
}
//syle content 
.content
{
	text-align: center;
	color:$text-color;
	.blue-text
	{
		color:$main-color;
	}
	.icon-span
	{
		font-size: 3rem;
	}
	img
	{
		width: 100%;
		height: 100%;
	}
}
//import sections
@import '_gallery';
@import '_faq';
@import '_ourClient';
@import '_ourDoctors';
@import '_modal';
@import '_contact';
/***************
= end <section> style =
*****************/